.autocomplete {
	border-radius: 5px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}

.autocomplete__label {
	margin: 10px 0;
}

.autocomplete__input {
	padding: 10px 15px;
	width: 350px;
	border-radius: 10px;
	border: 1px solid lightblue;
	font-size: 1.2rem;
	outline: none;
}

.autocomplete__list {
	list-style: none;
	padding: 0;
	margin: 0;
	border-radius: 10px;
	overflow: auto;
	max-height: 200px;
	width: 380px;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	border: 1px solid lightblue;
}

.autocomplete__list::-webkit-scrollbar {
	display: none;
}

.autocomplete__item {
	padding: 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.autocomplete__item:hover {
	background-color: lightblue;
}

.autocomplete__country-name {
	margin-left: 5px;
}

.autocomplete__country-flag {
	font-size: small;
}

.autocomplete__highlight {
	background-color: lightblue;
}

.autocomplete__error {
	color: red;
}

.autocomplete__no-suggestions {
	color: darkgray;
}
